* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  font-family: Montserrat;
}

html {
  min-width: 1200px;
  max-width: 1920px;
}

.body-wrapper {
  background-image: url(./img/Layer\ 1\ 5.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1012px;
}

.main-page {
  width: 1160px;
}

.navbar-container {
  display: flex;
  height: 120px;
  background-color: rgba(94, 93, 88, 0.6);
  padding: 0 200px;
}

.logo {
  display: flex;
  width: 233px;
  height: 120px;
  align-items: center;
  cursor: pointer;
}

.logo-polygon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./img/Polygon\ 1\ 1.svg);
  background-repeat: no-repeat;
  width: 58px;
  height: 67px;
  margin: 0;
}

.logo-letter {
  display: flex;
  color: white;
  text-decoration: none;
  color: #fff;

  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 31px; /* 77.5% */
}

.logo-letter h1 {
  display: flex;
  width: 40px;
  height: 40px;
}

.logo-theHam {
  margin: 0;
  display: flex;
  width: 134px;
  height: 46px;
  justify-content: flex-start;
  align-items: center;
  color: #fff;
  font-weight: 400;
}

.logo-ham {
  margin: 0;
  color: #18cfab;
  font-weight: 700;
}

.navbar-buttons {
  display: flex;
  width: 600px;
  align-items: center;
  gap: 20px;
}

.navbar-buttons a {
  font-size: 16px;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 120px;
  text-transform: uppercase;
}

.navbar-buttons a:hover {
  color: #18cfab;
  border-bottom: 1px solid #18cfab;
}

.main-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 762px;
  justify-content: center;
}

.main-info h2 {
  color: #fff;
  text-align: center;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}

.main-info h2 span {
  color: #18cfab;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}

.main-info h1 {
  color: #fff;
  text-align: center;
  font-size: 78px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}

.main-info h3 {
  color: #d4d4d4;
  text-align: center;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
}

.main-buttons {
  display: flex;
  flex-direction: row;
  gap: 26px;
  padding-top: 122px;
}

.explore-button {
  width: 169px;
  height: 63px;
  background-color: #18cfab;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  border: 0px;
  cursor: pointer;
}

.explore-button:hover {
  border-top: 4px solid white;
}

.purchase-button {
  width: 169px;
  height: 63px;
  background-color: #00cbf6;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  border: 0px;
  cursor: pointer;
}

.purchase-button:hover {
  border-top: 4px solid white;
}

.options-items {
  border-top: 4px solid white;
  display: flex;
  flex-direction: row;
  height: 377px;
}

.option-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 482px;
  height: 377px;
  gap: 48px;
}

.darker-item {
  background-color: #1c2a33;
  color: #18cfab;
}

.darker-item p {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.lighter-item {
  background-color: #18cfab;
  color: #fff;
}

.lighter-item p {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.services-section {
  display: flex;
  flex-direction: column;
  height: 552px;
  color: #4e4e4e;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 111.111% */
  padding: 80px 0 24px 0;
}

.lines-between {
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 100px;
  height: 50px;
  margin-bottom: 40px;
  justify-content: center;
}

.line-between-1 {
  background-color: #18cfab;
  width: 91px;
  height: 1px;
  margin-right: 20px;
}

.line-between-2 {
  background-color: #18cfab;
  width: 91px;
  height: 1px;
  margin-left: 20px;
}

.card-carousel {
  width: 1160px;
  height: 238px;
}

.carousel-buttons {
  display: flex;
  justify-content: center;
  height: 88px;
}

.carousel-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 195px;
  border: 1px solid #eeeeee;
  margin-bottom: 20px;
  background-color: #f8f8f8cc;
  text-align: center;
  position: relative;
  color: #717171;
}

.carousel-btn:hover {
  border: 1px solid #18cfab;
}

.active {
  background-color: #18cfab;
  color: white;
}

.active::after {
  content: "";
  position: absolute;
  left: 42%;
  top: 100%;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 10px solid #18cfab;
  clear: both;
}

.carousel-element {
  display: flex;
  flex-direction: row;
  height: 270px;
  margin-top: 30px;
}

.carousel-element img {
  display: flex;
  width: 192px;
  height: 139px;
}

.carousel-text {
  display: flex;
  width: 952px;
  color: #777;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: 24.366px; /* 178.571% */
}
.showclick-p {
  color: #777;
  font-size: 13.645px;
  font-style: normal;
  font-weight: 300;
  line-height: 24.366px; /* 178.571% */
}

.middle-part {
  display: flex;
  margin: 0;
  height: 476px;
  display: flex;
  flex-direction: column;
}

.image-part {
  height: 476px;
}

.image-part-content {
  background-image: url(./img/Layer\ 21\ 1.png);
  background-repeat: no-repeat;
  height: 476px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-part-header {
  color: #18cfab;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 40.455px; /* 101.138% */
  text-transform: uppercase;
  height: 50px;
}

.image-part-paragraph {
  color: #d8d8d8;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  height: 50px;
}

.image-purchase-button {
  margin-top: 60px;
  background-color: #18cfab;
}

.work-exp-container {
  background-color: #f8fcfe;
  display: flex;
  flex-direction: column;
  min-height: 1212px;
}

.work-exp-paragraph {
  height: 100px;
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4e4e4e;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 111.111% */
}

.work-exp-tab-ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  height: 62px;
  border: 1px solid #dadada;
  background-color: rgba(0, 0, 0, 0);
}

.work-exp-tab {
  width: max-content;
  height: 62px;
  flex-direction: row;
  cursor: pointer;
  border: 0px;
  color: #717171;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 42.042px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid transparent;
}

.work-exp-tab-active {
  color: #18cfab;
  border: 1px solid #18cfab;
}

.with-hover-container {
  width: 282px;
  height: 211px;
}

/* img */

.work-exp-images {
  margin-top: 80px;
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 1128px;
}

.work-exp-image-element {
  width: 282px;
  height: 211px;
}

.hidden-image {
  display: none;
}

.work-exp-image-container {
  position: absolute;
}

.work-exp-image {
  width: 282px;
  height: 211px;
}

.work-hover-block {
  opacity: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 282px;
  height: 211px;
  background-color: white;
  border-top: 6px solid #18cfab;
  gap: 30px;
}

.work-hover-block:hover {
  transition: 0.5s;
  opacity: 1;
}

.hover-block-icon {
  margin-top: 10px;
  cursor: pointer;
}

.hover-paragraphs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hover-paragraph-1 {
  color: #18cfab;
  font-size: 14.177px;
  font-style: normal;
  font-weight: 700;
  line-height: 25.185px; /* 177.644% */
  text-transform: uppercase;
}

.hover-paragraph-2 {
  color: #8a8a8a;
  font-size: 12.152px;
  font-style: normal;
  font-weight: 300;
  line-height: 25.185px;
}

.load-more-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 14px;
  width: 168px;
  height: 63px;
  background-color: #18cfab;
  border-radius: 4px;
  border: none;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px; /* 300% */
  text-transform: uppercase;
  cursor: pointer;
}

.load-more-button:hover {
  transition: 0.5s;
}

.load-more-button img {
  margin: 0;
}

.news-section {
  height: 1000px;
}

.news-header {
  margin-top: 82px;
  color: #4e4e4e;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 111.111% */
  display: flex;
  align-items: center;
  width: 298px;
  height: 40px;
  flex-direction: column;
  justify-content: center;
}

.blogpost-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1160px;
  row-gap: 35px;
}

.news-blogpost {
  width: 265px;
  height: 281px;
  display: flex;
  flex-direction: column;
}

.blogpost-head-container {
  width: 263px;
  height: 208px;
  background-repeat: no-repeat;
}

.image1 {
  background-image: url(./img/Layer\ 47.png);
}

.image2 {
  background-image: url(./img/Layer\ 50.png);
}

.image3 {
  background-image: url(./img/Layer\ 51.png);
}

.image4 {
  background-image: url(./img/Layer\ 52.png);
}

.image5 {
  background-image: url(./img/Layer\ 53.png);
}

.image6 {
  background-image: url(./img/Layer\ 54.png);
}

.image7 {
  background-image: url(./img/Layer\ 55.png);
}

.image8 {
  background-image: url(./img/Layer\ 56.png);
}

.blogpost-caption-container {
  width: 263px;
  height: 72px;
}

.blogpost-date {
  margin-right: 0;
  width: 70px;
  height: 70px;
  background-color: #203e38;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.news-blogpost:hover .blogpost-date {
  background-color: #18cfab;
  transition: 1s;
}

.news-blogpost:hover .blogpost-main-text {
  margin-left: 10px;
  color: #18cfab;
  transition: 1s;
}

.blogpost-date p {
  display: flex;
  height: 19px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 156.25% */
}

.blogpost-main-text {
  color: #717171;
  font-size: 17.988px;
  font-style: normal;
  font-weight: 700;
  line-height: 38.942px; /* 216.481% */
}

.blogpost-description-text {
  margin: 0;
  display: flex;
  width: 210px;
  height: 40px;
  flex-direction: column;
  flex-shrink: 0;
  color: #777;
  font-size: 13.991px;
  font-style: normal;
  font-weight: 300;
  line-height: 38.942px; /* 278.333% */
}

.people-comment {
  height: 853px;
  flex-shrink: 0;
  background-image: url(./img/Layer\ 333.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.comment-header p {
  display: flex;
  width: 613px;
  height: 40px;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 111.111% */
  padding-top: 98px;
  padding-bottom: 25px;
}

.comment-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment-paragraph {
  margin-top: 35px;
  display: flex;
  width: 1160px;
  height: 45px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #bbb;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 30px; /* 187.5% */
}

.people {
  height: 853px;
  background-image: url(./img/Layer\ 333.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
}

.people-c {
  width: 1160px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.people-h-title {
  padding-top: 40px;
  color: #fff;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}

.people-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.people-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.people-e,
.people-person-h,
.people-person {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.people-e {
  display: none;
}

.people-person {
  height: 400px;
  justify-content: space-between;
}

.people-person-avatar {
  width: 140px;
  height: 140px;
  border: 10px solid rgba(31, 218, 181, 0.3);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.people-person-avatar img {
  width: 100%;
  height: 100%;
  transform: translate(1px);
}

.people-person-short {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}
.people-person-name {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: #18cfab;
}

.people-info,
.people-person-job {
  color: #bbbbbb;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  line-height: 30px;
}
.people-info {
  margin-top: 0;
}
.people-person-job {
  font-size: 13px;
  margin-bottom: 0;
}

.hide-slide {
  display: none;
}
.target-slide {
  display: flex;
}

.people-switch-list,
.people-switch {
  display: flex;
}

.people-switch {
  width: 513px;
  align-items: center;
  justify-content: space-between;
}

.people-switch-button {
  width: 31px;
  height: 31px;
  background-color: transparent;
  color: transparent;
  border: 1px solid #777777;
  position: relative;
}

.people-switch-button:hover {
  background-color: #18cfab;
  color: #18cfab;
}

.people-switch-button:hover::after {
  border-color: #fff;
}

.people-switch-button::after {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border: 2px solid #777777;
  border-top: none;
  border-left: none;
  transform: rotate(135deg);
  position: absolute;
  top: calc(50% - 6px);
  left: calc(50% - 3px);
}

.people-switch-right-button::after {
  transform: rotate(-45deg);
  left: calc(50% - 9px);
}

.people-switch-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 379px;
  justify-content: space-between;
  align-items: center;
}

.people-switch-e:hover {
  cursor: pointer;
}

.people-switch-person {
  width: 67px;
  height: 67px;
  border: 5px solid rgba(31, 218, 181, 0.3);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  height: 121px;
  background-color: #22353f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer p {
  width: 326px;
  height: 26px;
  color: #aeaeae;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 26px; /* 185.714% */
}

.footer span {
  color: #18cfab;
}
